<div class="reg-container">
    <form id="regForm" action="#" method="post">
        <div class="container mb-3 d-flex flex-column align-content-center justify-content-center">
            <label for="nombre" class="form-label"><b>Nombres</b></label>
            <input class="form-control mb-3" type="text" placeholder="Ingresa tus nombres" id="nombre" name="nombre" required>
            
            <label for="apellido" class="form-label"><b>Apellidos</b></label>
            <div class="d-flex">
                <input class="form-control mb-3 mr-1" type="text" placeholder="Ingresa tu primer apellido" id="primer_apellido" name="primer_apellido" required>
                <input class="form-control mb-3 ml-1" type="text" placeholder="Ingresa tu segundo apellido" id="segundo_apellido" name="segundo_apellido" required>
            </div>
            
            <label for="matricula" class="form-label"><b>Matrícula</b></label>
            <input class="form-control mb-3" type="text" id="matricula" placeholder="Ingresa tu matrícula" id="matricula" name="matricula" maxlength="10" required>
            <span id="error-message" class="error-message text-danger p-3 m-3">La matrícula debe contener exactamente 10 dígitos.</span>

            <label for="correo" class="form-label"><b>Email</b></label>
            <input class="form-control mb-3" type="email" placeholder="Ingresa tu email" id="correo" name="correo" required>

            <label for="usuario1" class="form-label"><b>Nombre de Usuario</b></label>
            <input class="form-control mb-3" type="text" placeholder="Ingresa tu nombre de usuario" id="usuario1" name="usuario1" required>

            <label for="contra" class="form-label"><b>Contraseña</b></label>
            <input class="form-control mb-3" type="password" placeholder="Ingresa tu contraseña" id="contra" name="contra" required>

            <br>
            <button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
            <label class="text-white" style="text-align: center;">
                <input type="checkbox" checked="checked" name="remember"> Recuérdame
            </label>
        </div>

        <div class="container text-center">
            <a href="../../index.html"><button type="button" class="btn btn-danger btn-block">Cancelar</button></a>
        </div>
        <div class="container text-center text-white">¿Ya tienes cuenta? <a href="../../views/Apprestamo/login.html" id="loginLink">Iniciar sesión</a></div>
    </form>
</div>

<script src="../../public/js/register.js"></script>
