<div class="main-content">
    <div class="header">
      <h1>Departamentos</h1>
      <div class="search-form">
        <input type="text" id="searchInput" placeholder="Buscar Departamento">
    </div>
      <a href="views/Admin_Views/Dpto_Views/departamentoAddOverview.html"><button class="btn-add"><i class="fas fa-plus"></i></button></a>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody id="departamento-tbody"></tbody>
      </table>
    </div>
  </div>