          <div class="main-content">
            <div class="header">
              <h1>Grupos</h1>
              <div class="search-form">
                <input type="text" id="searchInput" placeholder="Buscar Grupo">
            </div>
              <a href="views/Admin_Views/Groups_Views/groupsAddOverview.html"><button class="btn-add"><i class="fas fa-plus"></i></button></a>
            </div>
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th class="text-center">Grupo</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody id="group-tbody"></tbody>
              </table>
            </div>
          </div>