          <div class="main-content">
            <div class="header">
              <h1>Usuarios</h1>
              <div class="search-form">
                <input type="text" id="searchInput" placeholder="Buscar Usuario">
            </div>
            </div>
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Matricula</th>
                    <th class="text-center">Acciones</th>

                  </tr>
                </thead>
                <tbody id="usuarios-tbody">
              </tbody>
                        </table>
            </div>
          </div>
        </div>
        <script>
      